article{
position: relative;
width: 100%;
height: auto;
}

.tightbox{
margin:0px;
padding:0px;
}

#maincanvas{
position: relative;
width: 1200px;
height: 1200px;
display: block;
margin-left: auto;
margin-right: auto;
padding: 0px;
}

#menubar{
width: 900px;
height: 20px;
display: block;
position: relative;
margin-left: auto;
margin-right: auto;
background-color: #AAAAAA;
}

.sidebar{
width: 150px;
height: 1200px;
display: inline-block;
position: relative;
background-color: #AAAAAA;
margin: 0px;
padding: 0px;
}

#container{
width: 891px;
height: 1200px;
display: inline-block;
position: relative;
}

body {
/* background-color: # 91D9D9; */
}
